body {
	font-family: sans-serif;
	background: #F9F9F9;
}

.contacts-table {
	border-collapse: collapse;
	width: 600px;
}

.contacts-table thead {
	background-color: #FED411;
}

.contacts-table th,
.contacts-table td {
	border: 1px solid #000000;
	padding: 5px;
}

.contacts-table td:first-child, 
.contacts-table td:nth-child(2),
.contacts-table td:last-child {
	text-align: center;
}

.add-contact-form,
.delete-all-checked {
	margin: 20px 0 0 10px;
}

.add-contact-form span {
	display: inline-block;
	width: 140px;
}

.add-contact-form label {
	display: inline-block;
	padding-bottom: 5px;
}

.add-contact-form button {
	margin-top: 10px;
}